.home-container {
  margin: 50px;
}

.home-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px;
  margin-right: 15px;
  width: 300px;
  font-size: larger;
}

.btn {
  padding: 10px;
  width: 200px;
}

.meals-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.meal-container {
  width: 300px;
  margin: 10px;
  cursor: pointer;
}
